html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main {
    padding-bottom: 40px; /* setinggi footer */
}

body {
    margin-bottom: 60px;
}

/* Footer */
.footer {
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem;
    font-size: 0.875rem; /* opsional: membuat teks lebih kecil */
}

.footer .container {
    padding-top: 0;
    padding-bottom: 0;
}


/* warna muhammadiyah */
.bg-muhammadiyah {
    background-color: #027e3f !important;
}

.text-muhammadiyah {
    color: #027e3f !important;
}

.border-muhammadiyah {
    border-color: #027e3f !important;
}


.bg-muhammadiyah-second {
    background-color: #e8f106 !important;
}

.text-muhammadiyah-second {
    color: #e8f106 !important;
}

.border-muhammadiyah-second {
    border-color: #e8f106 !important;
}


.bg-muhammadiyah-third {
    background-color: #050675 !important;
}

.text-muhammadiyah-third {
    color: #050675 !important;
}

.border-muhammadiyah-third {
    border-color: #050675 !important;
}

/* body html */
.background-image {
    background: url('/images/logo_muhammadiyah.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.background-image::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* atau rgba(0,0,0,0.3) untuk efek gelap */
    z-index: -1;
}

.bg-success-subtle {
    background-color: #d1e7dd !important;
}

body {
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;   /* supaya full screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/bg-image-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;   /* atur transparansi */
    z-index: -1;    /* letakkan di belakang konten */
}

header > nav {
    background-color: #116d0aba; /* overlay */
    background-blend-mode: overlay;       /* atau multiply, darken, lighten */
}

/* Atur dropdown level 2 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%; /* muncul di kanan */
    margin-top: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}